In [1]:
import numpy as np
import pandas as pd
from analysis.directed_information import *
import analysis.utils as utils
np.set_printoptions(suppress=True)

In [2]:
# specify time period and interval
# format YYYY-DD-MM
start_date = '2013-1-1'
end_date = '2023-1-1'
interval = '1d'    # see https://github.com/ranaroussi/yfinance/wiki/Tickers#download for options

In [3]:
# download percentage returns (stored in data/ticker.csv)
# of individual companies with given ticker symbols
tickers = ['AAPL', 'GOOGL' ,'META', 'JPM', 'BLK', 'TSLA']    # Apple, Google, Meta, JPMorgan, BlackRock, Tesla
dict = utils.download_tickers(tickers=tickers, start_date=start_date, end_date=end_date, interval=interval)

# or the whole S&P100 or S&P500
# index = 'S&P100'
# returns = utils.download_index(index=index, start_date=start_date, end_date=end_date, interval=interval)

Starting download for stock data of 6 tickers in the interval [2013-1-1, 2023-1-1]...
Downloading AAPL: 1/6
Downloading GOOGL: 2/6
Downloading META: 3/6
Downloading JPM: 4/6
Downloading BLK: 5/6
Downloading TSLA: 6/6
Download complete

In [4]:
df = pd.DataFrame.from_dict(dict)
df

                AAPL     GOOGL      META       JPM       BLK      TSLA
Date
2013-01-02 -0.864905  0.532365  2.040814 -0.711427  1.020800  1.028569
2013-01-03 -1.054975 -0.173814 -0.394543 -0.379978  0.018756 -1.165422
2013-01-04 -1.856715  1.183258  2.677615  2.047244  2.347087 -1.149435
2013-01-07  0.363988 -0.095188  2.544439  0.709691 -0.022964 -1.321846
2013-01-08 -0.736949 -0.304533 -1.524909  0.220261 -1.271777 -2.376826
...              ...       ...       ...       ...       ...       ...
2022-12-23  0.717998  2.433708  1.732312  0.536067 -0.681465 -2.548074
2022-12-27 -1.027558 -1.587842 -0.890361  0.129207 -0.185929 -7.148937
2022-12-28 -2.799412 -1.103710 -0.541933  0.462647 -0.521304  2.138650
2022-12-29  1.265726  2.112669  3.316152  0.218166  1.345807  1.187807
2022-12-30  1.183700  1.437112  1.844950  0.971319  0.048007  2.692792

[2518 rows x 6 columns]

In [5]:
# calculate DI between every company from 2020-2021
timeseries = df['2020-01-01':'2023-01-01'].values
subset_selection = SubsetSelection(n=0, policy=Policies.PAIRWISE)

di, plot = directed_information_graph(samples=timeseries, labels=tickers, subset_selection=subset_selection)
df_di = pd.DataFrame(data=di, index=tickers, columns=tickers)
# I(from -> to) where row = from and column = to, 
df_di

           AAPL     GOOGL      META       JPM       BLK      TSLA
AAPL   0.014142  0.015068  0.044219  0.057210  0.037835  0.002144
GOOGL  0.000000  0.003031  0.018397  0.080517  0.027036  0.000202
META   0.015092  0.000000  0.000000  0.056305  0.012480  0.000000
JPM    0.010540  0.034497  0.058653  0.000000  0.026052  0.000000
BLK    0.036701  0.011033  0.051314  0.063590  0.010871  0.000000
TSLA   0.024734  0.015764  0.021137  0.030431  0.041470  0.000000

In [ ]:
# calculate time-varying causal influence of BlackRock on JPMorgan
blackrock = df['BLK']
jpmorgan = df['JPM']

time_varying_di(window_size=500, step_size=250, x=blackrock, y=jpmorgan)